.red-container {
  border: 2px solid rgb(143, 0, 0);
  padding: 20px;
  border-radius: 10px;
  background-color: #ffe6e6;
  max-width: 400px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgb(238, 175, 175);
}

.red-container h2 {
  text-align: center;
  color: rgb(0, 0, 0);
}

.red-form input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid rgb(143, 0, 0);
  border-radius: 5px;
  color: #403e3e;
}

.red-form button {
  width: 100%;
  padding: 10px;
  background-color: rgb(0, 0, 0);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.red-form button:hover {
  background-color: darkred;
}
